@media all and(min-width: $mobile-width) {
  .title {
    color: $background-green;
    margin: 20px;
    font-size: 2em;
    text-align: center;
  }
}

@media all and(min-width: $tablet-width) {
  .title {
    font-size: 3rem;
  }
}
