@media all and(min-width: $mobile-width) {
  .listMovies {
    display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
  }

  .listMovies__Detail {
    border-radius: 10px;
    background: linear-gradient(
    180deg,
    rgb(134, 242, 175) 0%,
    rgb(21, 227, 14) 100%
  );;
    width: 130px;
    height: 200px;
    margin: 8px;
    padding: 0px 3px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
  }
}

@media all and(min-width: $tablet-width) {
  .listMovies__Detail {
    width: 250px;
    height: 470px;
  }
}
