@import './core/variables.scss';
@import './layout/Header.scss';
@import './layout/FilterMovie.scss';
@import './layout/ListMovie.scss';
@import './layout/MovieSceneDetail.scss';
@import './layout/MovieSceneItem.scss';
@import './layout/Reset.scss';
@import './layout/Form.scss';


.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}